<h1>New User Account</h1>

<form action="/users/" method="post">
  <div class="mb-3">
    <label class="form-label" for="username_input">Username</label>
    <input class="form-control" type="text" name="username" id="username_input">
  </div>
  <div class="mb-3">
    <label class="form-label" for="real_name_input">Real Name</label>
    <input class="form-control" type="text" name="real_name" id="real_name_input">
  </div>
  <div class="mb-3">
    <label class="form-label" for="password_input">Password</label>
    <input class="form-control" type="password" name="password" id="password_input">
  </div>
  <div class="mb-3">
    <button class="btn btn-primary">Sign Up</button>
  </div>
</form>