<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="card" style="max-width: 600px;">
      <div class="card-body">
        <form action="/posts" method="post">
          <div class="d-flex">
            <div class="w-100">
              <div class="form-floating">
                <textarea name="body" class="form-control" placeholder="What's happening?" style="height: 100px; resize: none;"></textarea>
                <label for="postContent">What's happening?</label>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary">Post</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% for post in @posts %>
      <% user = User.find_by({ "id" => post["user_id"] }) %>
      <div class="card mt-3">
        <div class="card-body">
          <div class="d-flex">
            <div>
              <h6 class="card-title mb-1"><%= user["real_name"] %></h6>
              <small class="text-muted">@<%= user["username"] %></small>
            </div>
          </div>
          <p class="card-text mt-3">
            <%= post["body"] %>
          </p>
          <div class="d-flex justify-content-between">
            <small class="text-muted"><%= post["created_at"].strftime("%B %d, %Y") %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4"></div>
</div>